linsign-dss/dss-demo-webapp/src/main/java/eu/europa/esig/dss/web/signature/policy/policy.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sign-policies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="policy" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="label"/>
              <xs:element name="document">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:anyURI" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="signature">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="format"/>
                    <xs:element type="xs:string" name="packaging"/>
                    <xs:element type="xs:string" name="level"/>
                    <xs:element type="xs:string" name="digest"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="oid" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>