linsign-dss/dss-demo-webapp/src/main/java/eu/europa/esig/dss/web/log/log.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="linsign-logs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="log" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="operation"/>
              <xs:element type="xs:string" name="user"/>
              <xs:element type="xs:string" name="info"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="date" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>